<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>TODO管理ツール</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column h-100">
	<header th:replace="header"></header>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center mt-2 mb-4">
				<h4>タスク一覧（管理者用）</h4>
				<div class="d-flex align-items-center">
					<form action="/admin/tasks/completed" method="get" id="max_count_form" class="d-flex align-items-center">
						<input type="hidden" name="sort" th:value="${sort}">
						<input type="hidden" name="direction" th:value="${direction}">

						表示件数：
						<select class="form-select me-3" name="maxCount" id="max_count_select" style="width:83px">
							<option value="5" th:selected="${maxCount == 5}">5件</option>
							<option value="10" th:selected="${maxCount == 10}">10件</option>
							<option value="20" th:selected="${maxCount == 20}">20件</option>
						</select>
					</form>

					<a class="btn btn-danger" href="/tasks/add"><i class="bi bi-plus-lg"></i> 新規作成</a>
				</div>

			</div>

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="/admin/tasks" class="nav-link">未完了</a>
				</li>
				<li class="nav-item">
					<a href="/admin/tasks/completed" class="nav-link active">完了済み</a>
				</li>
			</ul>

			<!--			<form action="/admin/tasks" method="get">-->
			<!--				<div class="d-flex bd-highlight my-3 justify-content-between">-->
			<!--					<div class="input-group w-25 me-2">-->
			<!--						<input type="text" class="form-control" name="keyword" th:value="${keyword}"-->
			<!--							placeholder="キーワードを入力">-->
			<!--						<button class="btn btn-primary"><i class="bi bi-search"></i></button>-->
			<!--					</div>-->
			<!--					<a class="btn btn-danger" href="/tasks/add"><i class="bi bi-plus-lg"></i> 新規作成</a>-->
			<!--				</div>-->
			<!--			</form>-->

			<table class="table">
				<tr>
					<th class="p-0 text-center" th:classappend="${sort.equals('title') ? 'table-secondary' : '' }"
						style="width:200px">
						<th:block th:if="${!sort.equals('title')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'title'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク</a>
						</th:block>
						<th:block th:if="${sort.equals('title') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'title'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('title') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('content') ? 'table-secondary' : '' }"
						style="width:230px">
						<th:block th:if="${!sort.equals('content')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'content'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容</a>
						</th:block>
						<th:block th:if="${sort.equals('content') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'content'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('content') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容 <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('dueDatetime') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('dueDatetime')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'dueDatetime'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限</a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetime') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'dueDatetime'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetime') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限 <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('tag') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('tag')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'tag'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ</a>
						</th:block>
						<th:block th:if="${sort.equals('tag') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'tag'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('tag') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('important') ? 'table-secondary' : '' }"
						style="width:133px">
						<th:block th:if="${!sort.equals('important')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'important'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度</a>
						</th:block>
						<th:block th:if="${sort.equals('important') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'important'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('important') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('person') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('person')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'person'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成者</a>
						</th:block>
						<th:block th:if="${sort.equals('person') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'person'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成者 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('person') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成者
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('createdDatetime') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('createdDatetime')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'createdDatetime'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成日</a>
						</th:block>
						<th:block th:if="${sort.equals('createdDatetime') && direction.equals('asc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${'createdDatetime'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成日 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('createdDatetime') && direction.equals('desc')}">
							<a th:href="@{/admin/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">作成日
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th></th>

				</tr>
				<tr th:each="task: ${tasks}">
					<td class="align-middle text-center">[[${task.title}]]</td>
					<td class="align-middle text-center">[[${task.content}]]</td>
					<td class="align-middle text-center">[[${task.getDueDatetimeFormatted().substring(5)}]]</td>
					<td class="align-middle text-center">
						<span class="text-white rounded-pill py-1 px-2 small"
							th:classappend="${task.tagId == 1 ? 'bg-danger' : (task.tagId == 2 ? 'bg-primary' : (task.tagId == 3 ? 'bg-success' : (task.tagId == 4 ? 'bg-warning' : 'bg-secondary')))}">
							[[${task.tagName}]]
						</span>
					</td>
					<td class="align-middle text-center" style="color:#FF8124">
						<th:block th:each="i : ${#numbers.sequence(1,task.important)}">
							★
						</th:block>
					</td>
					<td class="align-middle text-center">
						[[${task.personName}]]
					</td>
					<td class="align-middle text-center">
						[[${task.createdDatetimeFormatted.substring(5)}]]
					</td>
					<td class="d-flex">
						<a th:href="'/tasks/'+${task.id} + '/edit'" class="btn btn-secondary me-2">
							<i class="bi bi-pencil"></i>
						</a>
						<form th:action="'/tasks/' + ${task.id} + '/delete'" method="post">
							<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								<i class="bi bi-trash"></i>
							</button>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">本当に削除しますか？</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">キャンセル</button>
											<button type="submit" class="btn btn-primary">削除</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</td>
				</tr>
			</table>

			<nav aria-label="..." class="text-center">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${page.number == 0} ? 'disabled': ''">
						<a class="page-link"
							th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = (${page.number} - 1), maxCount=${maxCount})}"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages-1)}"
						th:classappend="${i == page.number } ? 'active': ''"><a class="page-link"
							th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = ${i}, maxCount=${maxCount})}"
							th:text="${i + 1}"></a></li>

					<li class="page-item" th:classappend="${page.number == page.totalPages -1} ? 'disabled': ''">
						<a class="page-link"
							th:href="@{/admin/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = (${page.number} + 1), maxCount=${maxCount})}"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</main>

	<footer th:replace="footer"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		window.onload = function () {
			const selectElement = document.getElementById('max_count_select');

			// select要素のchangeイベントリスナーを設定
			selectElement.addEventListener('change', () => {
				// フォームを送信
				document.getElementById('max_count_form').submit();
			});


		}
	</script>
</body>

</html>