<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>TODO管理ツール</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column h-100">
	<header th:replace="header"></header>

	<main class="h-100">
		<div class="container">
			<div class="container d-flex flex-wrap justify-content-center mb-4">
				<h4 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					ユーザー一覧</h4>
				<a class="btn btn-danger" href="/admin/persons/add"><i class="bi bi-plus-lg"></i> ユーザー作成</a>
			</div>

			<table class="table">
				<tr>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('nameAsc') || sort.equals('nameDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('nameAsc') && !sort.equals('nameDesc')}">
							<a href="/persons?sort=nameAsc" class="link-dark d-block h-100 p-2">名前</a>
						</th:block>
						<th:block th:if="${sort.equals('nameAsc')}">
							<a href="/persons?sort=nameDesc" class="link-dark d-block h-100 p-2">名前 <i
									class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('nameDesc')}">
							<a href="/persons" class="link-dark d-block h-100 p-2">名前 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('nameAsc') || sort.equals('nameDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('nameAsc') && !sort.equals('nameDesc')}">
							<a href="/persons?sort=nameAsc" class="link-dark d-block h-100 p-2">メールアドレス</a>
						</th:block>
						<th:block th:if="${sort.equals('nameAsc')}">
							<a href="/persons?sort=nameDesc" class="link-dark d-block h-100 p-2">メールアドレス <i
									class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('nameDesc')}">
							<a href="/persons" class="link-dark d-block h-100 p-2">メールアドレス <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('isAdminAsc') || sort.equals('isAdminDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('isAdminAsc') && !sort.equals('isAdminDesc')}">
							<a href="/persons?sort=isAdminAsc" class="link-dark d-block h-100 p-2">ユーザー種別</a>
						</th:block>
						<th:block th:if="${sort.equals('isAdminAsc')}">
							<a href="/persons?sort=isAdminDesc" class="link-dark d-block h-100 p-2">ユーザー種別 <i
									class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('isAdminDesc')}">
							<a href="/persons" class="link-dark d-block h-100 p-2">ユーザー種別 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th></th>
				</tr>
				<tr th:each="person: ${persons}">
					<td class="align-middle text-center">[[${person.name}]]</td>
					<td class="align-middle text-center">[[${person.email}]]</td>
					<td class="align-middle text-center">
						<th:block th:if="${person.isAdmin}">
							管理者
						</th:block>
						<th:block th:if="${!person.isAdmin}">
							一般
						</th:block>
					</td>
					<td class="d-flex">
						<a th:href="'/admin/persons/'+${person.id} + '/edit'" class="btn btn-secondary me-2">
							<i class="bi bi-pencil"></i>
						</a>
						<form th:action="'/admin/persons/' + ${person.id} + '/delete'" method="post">
							<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
								th:data-bs-target="'#confirmModal' + ${person.id}">
								<i class="bi bi-trash"></i>
							</button>
							<!-- Modal -->
							<div class="modal fade" th:id="'confirmModal' + ${person.id}" tabindex="-1" aria-labelledby="confirmModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="confirmModalLabel">本当に削除しますか？</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>削除したユーザーは戻せません</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">キャンセル</button>
											<button type="submit" class="btn btn-primary">削除</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</td>
				</tr>
			</table>
		</div>

	</main>

	<footer th:replace="footer"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>