<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>TODO管理ツール</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column h-100">
	<header th:replace="header"></header>

	<main class="h-100">
		<div class="container">
			<h4>タスク一覧（管理者用）</h4>

			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="/admin/tasks" class="nav-link active" data-bs-toggle="tab">未完了</a>
				</li>
				<li class="nav-item">
					<a href="/admin/tasks/completed" class="nav-link" data-bs-toggle="tab">完了済み</a>
				</li>
			</ul>

			<form action="/admin/tasks" method="get">
				<div class="d-flex bd-highlight my-3 justify-content-between">
					<div class="input-group w-25 me-2">
						<input type="text" class="form-control" name="keyword" th:value="${keyword}"
							placeholder="キーワードを入力">
						<button class="btn btn-primary"><i class="bi bi-search"></i></button>
					</div>
					<a class="btn btn-danger" href="/tasks/add"><i class="bi bi-plus-lg"></i> 新規作成</a>
				</div>
			</form>

			<table class="table">
				<tr>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('titleAsc') || sort.equals('titleDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('titleAsc') && !sort.equals('titleDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=titleAsc'"
								class="link-dark d-block h-100 p-2">タスク</a>
						</th:block>
						<th:block th:if="${sort.equals('titleAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=titleDesc'"
								class="link-dark d-block h-100 p-2">タスク <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('titleDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">タスク <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('contentAsc') || sort.equals('contentDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('contentAsc') && !sort.equals('contentDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=contentAsc'"
								class="link-dark d-block h-100 p-2">内容</a>
						</th:block>
						<th:block th:if="${sort.equals('contentAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=contentDesc'"
								class="link-dark d-block h-100 p-2">内容 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('contentDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">内容 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('importantAsc') || sort.equals('importantDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('importantAsc') && !sort.equals('importantDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=importantAsc'"
								class="link-dark d-block h-100 p-2">重要度</a>
						</th:block>
						<th:block th:if="${sort.equals('importantAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=importantDesc'"
								class="link-dark d-block h-100 p-2">重要度 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('importantDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">重要度 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('dueDatetimeAsc') || sort.equals('dueDatetimeDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('dueDatetimeAsc') && !sort.equals('dueDatetimeDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=dueDatetimeAsc'"
								class="link-dark d-block h-100 p-2">期限</a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetimeAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=dueDatetimeDesc'"
								class="link-dark d-block h-100 p-2">期限 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetimeDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">期限 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('tagAsc') || sort.equals('tagDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('tagAsc') && !sort.equals('tagDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=tagAsc'"
								class="link-dark d-block h-100 p-2">タグ</a>
						</th:block>
						<th:block th:if="${sort.equals('tagAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=tagDesc'"
								class="link-dark d-block h-100 p-2">タグ <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('tagDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">タグ <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('personAsc') || sort.equals('personDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('personAsc') && !sort.equals('personDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=personAsc'" class="link-dark d-block h-100 p-2">作成者</a>
						</th:block>
						<th:block th:if="${sort.equals('personAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=personDesc'" class="link-dark d-block h-100 p-2">作成者 <i
									class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('personDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">作成者 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('createdDatetimeAsc') || sort.equals('createdDatetimeDesc')} ? 'table-secondary' : '' ">
						<th:block th:if="${!sort.equals('createdDatetimeAsc') && !sort.equals('createdDatetimeDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=createdDatetimeAsc'" class="link-dark d-block h-100 p-2">作成日</a>
						</th:block>
						<th:block th:if="${sort.equals('createdDatetimeAsc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword} +'&sort=createdDatetimeDesc'" class="link-dark d-block h-100 p-2">作成日 <i
									class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('createdDatetimeDesc')}">
							<a th:href="'/admin/tasks?keyword=' + ${keyword}" class="link-dark d-block h-100 p-2">作成日 <i
									class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="task: ${tasks}">
					<th:block th:if="${task.isCompleted == false && (task.title.contains(keyword) || task.content.contains(keyword))}">
						<td class="align-middle text-center">[[${task.title}]]</td>
						<td class="align-middle text-center">[[${task.content}]]</td>
						<td class="align-middle text-center">
							<th:block th:each="i : ${#numbers.sequence(1,task.important)}">
								★
							</th:block>
						</td>
						<td class="align-middle text-center">[[${task.getDueDatetimeFormatted()}]]</td>
						<td class="align-middle text-center">
							<span class="border border-secondary rounded-pill py-1 px-2">
								[[${task.tagName}]]
							</span>
						</td>
						<td class="align-middle text-center">
							[[${task.personName}]]
						</td>
						<td class="align-middle text-center">
							[[${task.createdDatetimeFormatted}]]
						</td>
						<td>
							<a th:href="'/tasks/'+${task.id} + '/edit'" class="btn btn-secondary">
								<i class="bi bi-pencil"></i>
							</a>
						</td>
						<td>
							<form th:action="'/tasks/' + ${task.id} + '/delete'" method="post">
								<button class="btn btn-secondary">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</th:block>
				</tr>
			</table>
		</div>

	</main>

	<footer th:replace="footer"></footer>

	<script th:href="@{/webjars/jquery/3.6.0/js/jquery.min.js}"></script>
	<script src="/js/script.js"></script>
</body>

</html>