<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タイトルを入力</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<main>
		<h1>新規登録</h1>
		
		<p th:each="error:${errors}">
			[[${error}]]
		</p>

		<form action="/persons/add" method="post">
			<table border="1">
				<tr>
					<th>お名前</th>
					<td><input type="text" name="name" th:value="${name}"></td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td><input type="text" name="email" th:value="${email}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>