<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>TODO管理ツール</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
	<header th:replace="header"></header>
	<main class="h-100">
		<div class="container">
			<h4 class="text-center">新規登録</h4>

			<p th:each="error:${errors}">
				[[${error}]]
			</p>

			<form action="/persons/add" method="post">
				<div class="row justify-content-center">
					<div class="col-4 my-3">
						<label>お名前</label>
						<input class="form-control" type="text" name="name" th:value="${name}">
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-4 my-3">
						<label>メールアドレス</label>
						<input class="form-control" type="text" name="email" th:value="${email}">
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-4 my-3">
						<label>パスワード</label>
						<input class="form-control" type="text" name="password">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-4 my-3">
						<button class="btn btn-primary w-100">登録</button>
					</div>

				</div>
			</form>
		</div>
	</main>

	<footer th:replace="footer"></footer>
</body>

</html>