<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タイトルを入力</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header th:replace="header"></header>

	<main>
		<div class="container">
			<h4>タスク更新</h4>

			<form th:action="'/tasks/add'" method="post">
				<input type="hidden" name="personId" th:value="${@account.personId}">
				<input type="hidden" name="isCompleted" value="false">
				<input type="hidden" name="createdDate" value="2023/01/01">
				<table class="table">
					<tr>
						<th>タスク名</th>
						<td>
							<input type="text" name="title">
						</td>
					</tr>
					<tr>
						<th>内容</th>
						<td>
							<input type="text" name="content">
						</td>
					</tr>
					<tr>
						<th>重要度</th>
						<td>
							<input type="text" name="important">
						</td>
					</tr>
					<tr>
						<th>期限日</th>
						<td>
							<input type="text" name="dueDate">
						</td>
					</tr>
				</table>
				<button class="btn btn-secondary">作成</button>
			</form>
		</div>
	</main>

	<footer th:replace="footer"></footer>

</body>

</html>