<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>SmartTask</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/tasks.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="d-flex flex-column h-100">
	<header th:replace="header"></header>

	<main class="flex-shrink-0">
		<div class="container w-75">
			<div class="d-flex justify-content-between align-items-center mt-2 mb-4">
				<h3>タスク一覧</h3>
				<div class="d-flex align-items-center">
					<form
						th:action="@{/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = ${page.number}, maxCount=${maxCount})}"
						method="get" id="max_count_form" class="d-flex align-items-center">
						<input type="hidden" name="sort" th:value="${sort}">
						<input type="hidden" name="direction" th:value="${direction}">

						表示件数：
						<select class="form-select me-3" name="maxCount" id="max_count_select" style="width:83px">
							<option value="5" th:selected="${maxCount == 5}">5件</option>
							<option value="10" th:selected="${maxCount == 10}">10件</option>
							<option value="20" th:selected="${maxCount == 20}">20件</option>
						</select>
					</form>

					<a class="btn btn-primary" href="/tasks/add"><i class="bi bi-plus-lg"></i> タスク作成</a>
				</div>

			</div>

			<ul class="nav nav-tabs mt-5">
				<li class="nav-item">
					<a href="/tasks" class="nav-link">未完了</a>
				</li>
				<li class="nav-item">
					<a href="/tasks/completed" class="nav-link active">完了済み</a>
				</li>
			</ul>

			<!--			<form action="/tasks" method="get">-->
			<!--				<div class="d-flex bd-highlight my-3 justify-content-between">-->
			<!--					<div class="input-group w-25 me-2">-->
			<!--						<input type="text" class="form-control" name="keyword" th:value="${keyword}"-->
			<!--							placeholder="キーワードを入力">-->
			<!--						<button class="btn btn-primary"><i class="bi bi-search"></i></button>-->
			<!--					</div>-->
			<!--					<a class="btn btn-danger" href="/tasks/add"><i class="bi bi-plus-lg"></i> 新規作成</a>-->
			<!--				</div>-->
			<!--			</form>-->

			<table class="table">
				<tr>
					<th></th>
					<th class="p-0 text-center" th:classappend="${sort.equals('title') ? 'table-secondary' : '' }"
						style="width:200px">
						<th:block th:if="${!sort.equals('title')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'title'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク</a>
						</th:block>
						<th:block th:if="${sort.equals('title') && direction.equals('asc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'title'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('title') && direction.equals('desc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タスク
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('content') ? 'table-secondary' : '' }"
						style="width:230px">
						<th:block th:if="${!sort.equals('content')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'content'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容</a>
						</th:block>
						<th:block th:if="${sort.equals('content') && direction.equals('asc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'content'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('content') && direction.equals('desc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">内容 <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center"
						th:classappend="${sort.equals('dueDatetime') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('dueDatetime')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'dueDatetime'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限</a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetime') && direction.equals('asc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'dueDatetime'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('dueDatetime') && direction.equals('desc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">期限 <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('tag') ? 'table-secondary' : '' }">
						<th:block th:if="${!sort.equals('tag')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'tag'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ</a>
						</th:block>
						<th:block th:if="${sort.equals('tag') && direction.equals('asc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'tag'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('tag') && direction.equals('desc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">タグ <i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th class="p-0 text-center" th:classappend="${sort.equals('important') ? 'table-secondary' : '' }"
						style="width:133px">
						<th:block th:if="${!sort.equals('important')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'important'},direction = ${'asc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度</a>
						</th:block>
						<th:block th:if="${sort.equals('important') && direction.equals('asc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword},sort = ${'important'},direction = ${'desc'}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度 <i class="bi bi-caret-down-fill"></i></a>
						</th:block>
						<th:block th:if="${sort.equals('important') && direction.equals('desc')}">
							<a th:href="@{/tasks/completed(keyword = ${keyword}, maxCount=${maxCount})}"
								class="link-dark d-block h-100 p-2">重要度
								<i class="bi bi-caret-up-fill"></i></a>
						</th:block>
					</th>
					<th></th>

				</tr>
				<tr th:each="task: ${tasks}">
					<td class="align-middle">
						<form th:action="'/tasks/' + ${task.id} + '/incomplete'" method="post" class="complete-form">
							<input type="hidden" name="sort" th:value="${sort}">
							<input type="hidden" name="direction" th:value="${direction}">
							<input type="hidden" name="maxCount" th:value="${maxCount}">
							<label class="label">
								<input class="label__checkbox complete-checkbox" type="checkbox" checked />
								<span class="label__text">
									<span class="label__check">
										<i class="fa fa-check icon"></i>
									</span>
								</span>
							</label>
						</form>
					</td>
					<td class="align-middle text-center">[[${task.title}]]</td>
					<td class="align-middle text-center">[[${task.content}]]</td>
					<td class="align-middle text-center">[[${task.getDueDatetimeFormatted().substring(5)}]]</td>
					<td class="align-middle text-center">
						<span class="text-white rounded-pill py-1 px-2 small"
							th:classappend="${task.tagId == 1 ? 'bg-danger' : (task.tagId == 2 ? 'bg-primary' : (task.tagId == 3 ? 'bg-success' : (task.tagId == 4 ? 'bg-warning' : 'bg-secondary')))}">
							[[${task.tagName}]]
						</span>
					</td>
					<td class="align-middle text-center" style="color:#FF8124">
						<th:block th:each="i : ${#numbers.sequence(1,task.important)}">
							★
						</th:block>
					</td>
					<td class="align-middle">
						<div class="d-flex justify-content-end">
							<a th:href="'/tasks/'+${task.id} + '/edit'" class="btn text-secondary">
								<i class="bi bi-pencil-fill h5"></i>
							</a>
							<form th:action="'/tasks/' + ${task.id} + '/delete'" method="post">
								<input type="hidden" name="sort" th:value="${sort}">
								<input type="hidden" name="direction" th:value="${direction}">
								<input type="hidden" name="maxCount" th:value="${maxCount}">
								<button type="button" class="btn text-secondary" data-bs-toggle="modal"
									th:data-bs-target="'#confirmModal' + ${task.id}">
									<i class="bi bi-trash-fill h5"></i>
								</button>
								<!-- Modal -->
								<div class="modal fade" th:id="'confirmModal' + ${task.id}" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">本当に削除しますか？</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p>削除したタスクは戻せません</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">キャンセル</button>
												<button type="submit" class="btn btn-primary">削除</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

					</td>
				</tr>
			</table>

			<nav aria-label="..." class="text-center my-5">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${page.number == 0} ? 'disabled': ''">
						<a class="page-link"
							th:href="@{/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = (${page.number} - 1), maxCount=${maxCount})}"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages-1)}"
						th:classappend="${i == page.number } ? 'active': ''"><a class="page-link"
							th:href="@{/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = ${i}, maxCount=${maxCount})}"
							th:text="${i + 1}"></a></li>

					<li class="page-item" th:classappend="${page.number == page.totalPages -1} ? 'disabled': ''">
						<a class="page-link"
							th:href="@{/tasks/completed(keyword = ${keyword},sort = ${sort},direction = ${direction},page = (${page.number} + 1), maxCount=${maxCount})}"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</main>

	<footer th:replace="footer"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>