<th:block th:if="${@account.name != null}">
	<header class="py-3 mb-4 border-bottom bg-dark">
		<div class="container d-flex flex-wrap justify-content-center">
			<th:block th:if="${@account.isAdmin}">
				<a href="/admin/tasks"
					class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					<span class="fs-4 text-white">SmartTask</span>
				</a>
			</th:block>
			<th:block th:if="${!@account.isAdmin}">
				<a href="/tasks"
					class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					<span class="fs-4 text-white">SmartTask</span>
				</a>
			</th:block>

			<div>
				<th:block th:if="${@account.isAdmin}">
					<a class="btn btn-outline-light" href="/admin/persons">ユーザー一覧</a>
				</th:block>
				<th:block th:if="${!@account.isAdmin}">
					<a class="btn btn-outline-light" href="/persons/edit">ユーザー情報変更</a>
				</th:block>
				<a class="btn btn-light" href="/logout">ログアウト</a>
			</div>
		</div>
	</header>
</th:block>

<th:block th:if="${@account.name == null}">
	<header class="py-3 mb-4 border-bottom bg-dark">
		<div class="container d-flex flex-wrap justify-content-center">
			<a href="/tasks"
				class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
				<span class="fs-4 text-white">SmartTask</span>
			</a>
			<div>

			</div>
		</div>
	</header>
</th:block>