<th:block th:if="${@account.name != null}">
	<header class="py-3 mb-4 border-bottom bg-dark">
		<div class="container d-flex flex-wrap justify-content-center">
			<th:block th:if="${@account.isAdmin}">
				<a href="/admin/tasks"
					class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					<span class="fs-4 text-white">SmartTask</span>
				</a>
			</th:block>
			<th:block th:if="${!@account.isAdmin}">
				<a href="/tasks"
					class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					<span class="fs-4 text-white">SmartTask</span>
				</a>
			</th:block>

			<div class="d-flex">
				<th:block th:if="${@account.isAdmin}">
					<a class="btn btn-outline-light me-3" href="/admin/persons">ユーザー一覧</a>
				</th:block>
				<th:block th:if="${!@account.isAdmin}">
					<div class="dropdown text-white">
						<a class="btn btn-outline-light me-3" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							マイページ
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/tasks/status">現在のタスク状況</a></li>
							<li><a class="dropdown-item" href="/persons/edit">ユーザー情報変更</a></li>
						</ul>
					</div>
					
					
				</th:block>
				<a class="btn btn-light" href="/logout">ログアウト</a>
			</div>
		</div>
	</header>
</th:block>

<th:block th:if="${@account.name == null}">
	<header class="py-3 mb-4 border-bottom bg-dark">
		<div class="container d-flex flex-wrap justify-content-center">
			<a href="/tasks"
				class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
				<span class="fs-4 text-white">SmartTask</span>
			</a>
			<div>

			</div>
		</div>
	</header>
</th:block>