<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タイトルを入力</title>
</head>

<body>
	
	<main>
		<h1>管理者ログイン</h1>
		<form action="/login" method="post">
			<table border="1">
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
			</table>
			<button>ログイン</button>
		</form>
		<p th:text="${message}" style="color: red"></p>

		<a href="/persons/add">新規登録</a>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>