<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タイトルを入力</title>
	<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header th:replace="header"></header>

	<main>
		<div class="container">
			<div class="container d-flex flex-wrap justify-content-center mb-4">
				<h4 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
					タスク一覧</h4>
				<a class="btn btn-danger" href="/tasks/add">新規作成</a>
			</div>


			<table class="table">
				<tr>
					<th></th>
					<th>タスク</th>
					<th>内容</th>
					<th>重要度</th>
					<th>期限日</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="task: ${tasks}">
					<th:block th:if="${task.isCompleted == false && task.personId == @account.personId}">
						<td>
							<form th:action="'/tasks/' + ${task.id} + '/complete'" method="post">
								<button class="btn btn-primary">完了</button>
							</form>
						</td>
						<td>[[${task.title}]]</td>
						<td>[[${task.content}]]</td>
						<td>[[${task.important}]]</td>
						<td>[[${task.dueDate}]]</td>
						<td>
							<a th:href="'/tasks/'+${task.id} + '/edit'" class="btn btn-secondary">更新</a>
						</td>
						<td>
							<form th:action="'/tasks/' + ${task.id} + '/delete'" method="post">
								<button class="btn btn-secondary">削除</button>
							</form>
						</td>
					</th:block>
				</tr>
			</table>
		</div>

	</main>

	<footer th:replace="footer"></footer>
</body>

</html>